<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Curative</title>
    {% endif %}

    <link href="https://fonts.googleapis.com/css2?family=Muli&display=swap" rel="stylesheet">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css"
          integrity="sha256-qS+snwBgqr+iFVpBB58C9UCxKFhyL03YHpZfdNUhSEw=" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">

</head>
<body>

<nav class="navbar is-black" role="navigation" aria-label="main navigation" style="height: 55px;">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://curativeinc.com/">
            <img src="{{ url_for("static", filename="images/curative-logo.png") }}" width="200" height="50">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">


        {% if "user_key" in session %}
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary is-small" href="{{ url_for("logout") }}">
                            <strong>Log Out</strong>
                        </a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="navbar-end"></div>
        {% endif %}
    </div>

</nav>

{% block content %}
{% endblock content %}

<script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>

<script src="{{ url_for("static", filename="js/app.js") }}"></script>

</body>
</html>